<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre de cuenta</th>
        <th scope="col">Descripción</th>            
    </tr>
    </thead>
    <tbody>
        <% accountTypes.forEach( (accountType) => { %>
            <tr>
                <th scope="row"><%= accountType.id %></th>
                <td><%= accountType.name %></td>
                <td><%= accountType.description %></td>
            </tr>
        <% }) %>
    </tbody>
</table>
