<!DOCTYPE html>
<html lang="en">
<%- include('partials/header'); -%>
<body>
    <div class="container">
        <h1>Tipos de cuentas</h1>
        <%- include('partials/account_table'); -%>
        <%- include('partials/footer'); -%>
    </div>
</body>
</html>